// app global css in SCSS form
font-rp {
    font-family: Oswald;
    src: url(https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap)
};

font-end {
    font-family: 'Krona One', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap)
};

